#container {
  display: flex;
  flex: 1;
  justify-content: center;
}

html {
  background-color: white;
}

h3 {
  padding: 0;
  -webkit-text-size-adjust: none;
}

h1 {
  padding: 20px 30px;

  border-bottom: 1px solid #ccc;

}
